@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #B9D8C2;
  --secondColor: #9AC2C9;
  --thirdColor: #8AA1B1;
  --fourthColor: #2D2D2A;
  --fifthColor: #4C4C47;
}


@media (prefers-color-scheme: dark) {
  :root {
    --firstColor: #B9D8C2;
    --secondColor: #9AC2C9;
    --thirdColor: #8AA1B1;
    --fourthColor: #2D2D2A;
    --fifthColor: #4C4C47;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
